<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IS_for_JKX1.Properties.Settings.u1666130_JKH34ConnectionString"
            connectionString="Data Source=31.31.198.141;Initial Catalog=u1666130_JKH34;User ID=u1666130_Yuliya;Password=csb#G254"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>